<nav>
    <div class="list">
        <div class="item-1">HOME</div>
        <div class="item-2">REGISTER</div>
        <div class="item-3">LOGIN</div>
        <div class="item-4">ABOUT</div>
    </div>
        <img src="Major Project logo.png" alt="" class="logo">
</nav>
